.jumbotron {
    text-align: center;
    background-color: lightblue;
    
}

.navbar {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: solid;
    border-bottom: solid;
    border-radius: none !important;
    box-shadow: 0px 0px 3px #2BACD3;
    background-color: rgba(255, 255, 255, 0.5);
}

.title {
    text-align: center;
    font-weight: bold;   
}


.section {
    border: 1px solid lightblue;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

legend {
    border-bottom: none;
}