.jumbotron {
    text-align: center;
    background-color: lightblue;
    
}

.title {
    text-align: center;
    font-weight: bold;   
}


.section {
    border: 1px solid lightblue;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}